* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: white;
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 128px auto;
    border-radius: 30px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: #6B0086;
    font-size: 24px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 50px 0 0 50px;
    border: 2px solid #6B0086;
    outline: none;
    width: 320px;
    background: transparent;
    color: black;
  }
  
  .todo-input::placeholder {
    color: rgba(0, 0, 0, 0.425);
  }
  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      #6B0086,
      rgba(194, 0, 201, 0.637) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px solid #6B0086;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      #6B0086,
      rgba(247, 0, 255, 0.637) 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #6B0086;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-radius: 50px;
    width: 90%;
  }

  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #6B0086;
  }
  
  .edit-icon {
    color: #6B0086;
  }